$brown-500: #DAC9A5;
$brown-700: rgba(184, 97, 37, 0.62);
$brown-800: #B86125;
$gray-900: #454545;
$black: #000;

$text-title: $black;
$text-title-span: $brown-800;
$text-content: $gray-900;
$background: $brown-500;
$bg-button: $brown-700;
$link-hover: $brown-800;

